@import "../../static/stylus/animate/selectDownUpExtend.styl"

.m-drop-cascade
  position absolute
  z-index 7000
  display inline-flex
  align-items self-start
  background-color $theme
  border 1px solid $grey-300
  border-radius 4px
  height 230px
  overflow hidden
  font-size 0
  outline none
.m-drop-cascade-top
  box-shadow $box-shadow-top
.m-drop-cascade-bottom
  box-shadow $box-shadow-bottom

.m-ul-cascade
  width 300px
  height 100%
  overflow-x hidden
  overflow-y auto
  font-size 0
  &:not(:first-child)
    border-left 1px solid $grey-200
.m-li-cascade
  display flex
  align-items center
  justify-content space-between
  padding-left 12px
  width 100%
  height 38px
  line-height @height
  cursor pointer
  transition background-color .3s
  &:hover
    background-color $grey-100
.m-li-cascade-active
  background-color $blue-100
  .m-li-cascade-name
    color $blue-500
.m-li-cascade-disabled
  background-color $grey-100
  cursor not-allowed
  .m-li-cascade-name
    color $grey-400
  svg
    path
      fill $grey-400
.m-li-cascade-name
  flex 1
  font-size 14px
  color $grey-900
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  transition color .3s
.m-li-cascade-arrow
  width 38px
  height 38px
  text-align center
  svg
    vertical-align middle
    width 16px
    height @width
